* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: linear-gradient(to top left, #28b487, #7dd56f);
  background-repeat: no-repeat;
}

h1 {
  font-family: sans-serif;
  font-size: 30px;
  line-height: 1.3;
  width: 90%;
  padding: 30px;
  text-align: center;
  color: #fff;
}